<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>

    <header class="header" style="background-image: url('../static/png/bg.jpg'); background-size: cover; background-position: center;">

        <div class="menu container">
            <a href="#" class="logo">Logo</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../static/png/bg.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="../templates/index.html" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="../templates/entradas.html" class="nav-link active" aria-current="page">Entradas</a></li>
                    <li class="nav-item"><a href="../templates/platos.html" class="nav-link">Platos Fuertes</a></li>
                    <li class="nav-item"><a href="../templates/postres.html" class="nav-link">Postres</a></li>
                    <li class="nav-item"><a href="../templates/bebidas.html" class="nav-link">Bebidas</a></li>
                  </ul>
            </nav>
        </div>

        <div class="header-content container">

            <h1>Delicias Gourmet</h1>
            <p>
                 Bienvenidos a nuestro restaurante, donde cada plato está diseñado para ofrecer una experiencia única de sabor. 
                 Nuestra carta está inspirada en la frescura de los ingredientes locales y la creatividad de la cocina contemporánea.
                 Disfrute de una selección de platos cuidadosamente elaborados para satisfacer todos los gustos y antojos.
                 ¡Permítanos sorprenderle con una experiencia culinaria inigualable!
            </p>
           
        </div>
    </header>

    <section class="coffee">
        <img class="coffee-img" src="../static/png/bg2.png" alt="">
        <div class="coffee-content container">
            <h2>Los cafes mas vendidos en Colombia</h2>
            <p  id="cafee" class="txt-p">
                En Colombia, el Café Supremo es reconocido por su alta calidad y sabor suave, con una acidez media y notas frutales. El Café Tinto es la bebida más tradicional, consumida a diario por los colombianos, con un sabor fuerte y robusto. Mientras tanto, el Café Especial destaca por su proceso cuidadoso de cultivo y cosecha, ofreciendo sabores más complejos y sofisticados.
            </p>
            <div class="coffee-group">
                <div class="coffee-1">
                    <img src="../static/png/c1.png" alt="">
                    <h3>Café Supremo</h3>
                    <p>
                        Considerado uno de los cafés más finos y de mejor calidad de Colombia, el Café Supremo es conocido por su sabor suave y balanceado, con una acidez media y notas frutales.
                    </p>
                </div>
                <div class="coffee-1">
                    <img src="../static/png/c2.png" alt="">
                    <h3>Café Tinto</h3>
                    <p>
                        Es el café tradicional y más consumido en Colombia. Se prepara comúnmente con café filtrado y se disfruta a cualquier hora del día. Es fuerte, sencillo y con un sabor robusto.
                    </p>
                </div>
                <div class="coffee-1">
                    <img src="../static/png//c3.png" alt="">
                    <h3>Café Especial</h3>
                    <p>
                        Este café es de origen selecto y se caracteriza por ser de alta calidad, con un proceso de cultivo y cosecha muy cuidadoso. Se vende principalmente en granos y tiene sabores más complejos, ideales para los amantes del café gourmet.
                    </p>
                </div>
            </div>
           
        </div>

    </section>

    <main class="services" style="background-image: url('../static/png/blog2.jpg'); background-size: cover; background-position: center;">

        <div class="services-content container">
            <h2>Cafeteria servicios</h2>

            <div class="services-group">

                <div class="services-1">
                    <img src="../static/png/images/i1.svg" alt="">
                    <h3> Zone work</h3>
                </div>

                <div class="services-1">
                    <img src="../static/png/images/i2.svg" alt="">
                    <h3>Internet Gratis</h3>
                </div>

                <div class="services-1">
                    <img src="../static/png/images/i3.svg" alt="">
                    <h3>Viernes de 2 x 1</h3>
                </div>

            </div>
            <p>
                Para más informacion comunicarse al <br>
                        3164586154
            </p>
        </div>
    </main>


    </footer>

</body>
</html>